.gallery{
    border-radius: 25px;
    background-color:#F7F7F7; 
    width: 85%;
    margin: 43px auto;
   

}


.kasa-housing-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
    padding: 56px 0px 0px;

}