@import "../../styles/dist/main.scss";

.about-main {
  @include width;
  .container {
    width: 80%;
    margin: auto;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 0;
    }
  }
}
