@import "../../styles/dist/main.scss";

.kasa-header {
  @include width;
  // height: 68px;
  @include flexbox;
  justify-content: space-between;
  flex-wrap: wrap;
  .link-logo {
    max-width: 40%;
    .kasa-logo {
      width: 75%;
    }
  }
}
