@import '../../styles/dist/main.scss';


.navbar-list{
    list-style: none;
    gap: 57px;
    display: flex;
    justify-content: space-between;
    .nav-link{
        @include font;  
        font-size: 24px;
        line-height: 142.6%;    
        color: $primary-color;

    }
    .nav-link-active{
        @extend .nav-link;
        border-bottom: 3px solid $primary-color;
    }
    
}



 