@import "../../styles/dist/main.scss";

.footer {
  @include flexbox;
  align-items: flex-end;
  background: #000000;
  .footer-items {
    @include flexbox;
    flex-direction: column;
    margin-top: 50px;
  }
  .footer-kasa-logo {
    height: 40px;
    width: 122px;
  }
  .footer-paragraph {
    @include font;
    font-size: 14px;
    line-height: 142.6%;
    color: #ffffff;
  }
}
