.kasa-header {
	width: 85%;
    margin: 15px auto;
	height: 68px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
}

.kasa-logo{
	left: 0%;
	right: 83.04%;
	top: 0%;
	bottom: 0%;
}
